@import "../../../App.scss";

.search-restaurant-search-filter-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	.search-restaurant-search-filter-list__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		flex: 0.8;
		height: 26px;
		overflow: hidden;
	}

	.search-restaurant-search__buttonAdd {
		flex: 0.3;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		span {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: $main-color;
			margin-right: 5px;
		}
	}
}

.layout-search__perferenceAddFilter {
	position: absolute;
	top: 180px;
	left: 130px;
	width: 1240px;
	height: 529px;
	background: #ffffff;
	border: 1px solid #b0b0b0;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	z-index: 100;
	padding: 30px 50px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}

	.layout-search__perferenceWrapper {
		margin-bottom: 25px;

		.layout-search__perfenceTitle {
			margin-bottom: 20px;
			font-weight: bold;
			font-size: 12px;
		}

		.layout-search__perfenceList {
			display: flex;
		}
	}

	a {
		.layout-search__perferenceSave {
			position: absolute;
			width: 167px;
			height: 56px;
			left: 1035px;
			top: 450px;
			background: $main-color;
			border-radius: 23.5px;
			color: #fff;
			font-weight: 900;
			font-size: 20px;
			text-align: center;
		}
	}
}
