.restaurant-location-recommend-list {
	margin-top: 80px;

	p {
		font-family: Roboto;
		font-style: normal;

		&:not(:last-child) {
			font-weight: bold;
			font-size: 35px;
		}

		&.restaurant-location-recommend-list__bio {
			margin-top: 20px;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #b0b0b0;
		}
	}

	.restaurant-location-recommend-list__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
	}
}
