@import "../../App.scss";

.auth-page {
	width: 100%;
	height: 100vh;
	display: flex;
	background: url("../../assets/utils/background.png");
	background-size: cover;

	.auth-page-left {
		flex: 0.6;
		// background: $main-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		a {
			.auth-page__leftContainer {
				display: flex;
				align-items: center;

				.auth-page__appName {
					font-size: 16px;
					line-height: 18px;
					color: #ffffff;
					margin-left: 16px;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
				}
			}
		}

		.auth-page__info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 50px;
			margin-left: 300px;

			.auth-page__infoIconMapWrapper {
				position: absolute;
				top: 10%;
				right: 50%;

				.auth-page__infoIconMap {
					background-size: cover;
				}
			}

			.auth-page__infoFoodImgWrapper {
				position: absolute;
				top: 30%;

				.auth-page__infoFoodImg {
					background-size: cover;
				}
			}
		}
	}

	.auth-page-right {
		flex: 0.4;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.auth-page-right__titleLine1 {
			margin-top: 60px !important;

			strong {
				color: #000 !important;
			}
		}

		.auth-page-right__titleLine2 {
			margin-top: 0 !important;
		}

		.auth-page-right__titleLine1,
		.auth-page-right__titleLine2 {
			font-family: SVN-Circular-Black;
			font-style: normal;
			font-weight: 900;
			font-size: 36px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
		}

		.facebook-form {
			width: 305px;
			height: 44px;
			background: #3c5a99;
			border-radius: 41px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 30px;

			p {
				font-family: Roboto;
				font-size: 16px;
				color: #ffffff;
				margin-left: 5px;
			}
		}

		p {
			font-family: SVN-Circular-Black;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
			margin: 30px 0;
		}

		.auth-page__form {
			width: 305px;
			height: 44px;
			font-weight: 500;
			box-sizing: border-box;
			text-align: left;
			padding: 0.75rem 2.5rem;
			font-size: 1rem;
			line-height: 22px;
			margin-bottom: 30px;
			background: #ffffff;
			border-radius: 41px;
			display: flex;
			align-items: center;
			z-index: 1000;
			position: relative;

			.auth-page__fieldIcon {
				background-size: contain;
				margin-right: 5px;
				width: 16px !important;
			}

			input {
				font-family: SVN-Circular-Black;
				font-weight: bold;
				font-size: 14px;
				display: flex;
				align-items: center;
				color: #717171;
			}

			.text-error {
				font-family: SVN-Circular-Black;
				font-weight: bold;
				color: #f98600;
				margin-top: 12px !important;
				margin-bottom: 0px !important;
				font-size: 12px;
				position: absolute;
				top: 30%;
				left: 20%;
			}
		}

		.auth-page__login,
		.auth-page__register {
			padding: 0 2.5rem;
			height: 40px;
			padding-top: 0.7rem;
			padding-bottom: 0.7rem;
			margin-top: 15px;
			border: 0;
			text-align: center;
			color: #fff;
			background: #373737;
			border-radius: 41px;
			font-family: SVN-Circular-Black;
			font-weight: bold;
			font-size: 14px;
			z-index: 1000;
		}

		.auth-page__changePageContainer {
			display: flex;
			margin-top: 30px;

			.auth-page__changePage {
				font-family: SVN-Circular-Normal;
				font-size: 14px;
				text-align: center;
				color: #202020;
			}

			span {
				&:nth-child(2) {
					a {
						font-family: SVN-Circular-Black;
						font-weight: bold;
						font-size: 14px;
						text-align: center;
						color: #202020;
					}
				}
			}
		}

		.auth-page__privacyContainer {
			display: flex;
			z-index: 1000;

			.auth-page__privacyCheckbox {
				margin-top: 5px;
				margin-right: 5px;

				&[type="checkbox"]:checked:after {
					background: #000;
				}
			}

			.auth-page__privacy {
				width: 215px;
				font-family: SVN-Circular-Normal;
				font-style: italic;
				font-weight: normal;
				font-size: 12px;
				color: #202020;
				margin: 0;
			}
		}
	}
}

.auth-page__field {
	outline: none;
	border: none;
	width: 100%;
}
