@import "../../App.scss";

.homepage,
.save-restaurant-page,
.search-page {
	margin: 0 auto;
	width: 100%;
	max-width: 1241px;
}

.save-restaurant-page {
	height: calc(100vh - 96px - 60px);
	margin-top: 120px;
}

.search-page {
	height: calc(100vh - 96px - 60px);
	margin-top: 120px;
	display: flex;
	flex-direction: row;
}

.survey-page {
	height: 100vh;

	.survey-page__navbar {
		background-image: url("../../assets/utils/wave.png");
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
		display: flex;

		.survey-page__navbarLeft {
			flex: 0.3;
		}

		.survey-page__navbarRight {
			flex: 0.7;
			height: max-content;
			margin-top: 20px;

			.survey-page__navbarSlogan {
				width: 660px;
				font-family: SVN-Circular-Black;
				font-size: 40px;
				color: #ffffff;
			}

			.survey-page__navbarBio {
				font-family: SVN-Circular-Normal;
				font-size: 14px;
				color: #ffffff;
				margin-top: 20px;
			}
		}
	}

	.survey-page__container {
		display: flex;
		flex-direction: row;
		height: calc(100vh - 300px);

		.drawer-sidebar-left {
			flex: 0.3;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;

			.survey-page__navbarStatus {
				height: 130px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				color: #c4c4c4;

				&::after {
					content: "";
					background: #c4c4c4;
					width: 10px;
					height: calc((100vh - 215px) / 3);
					position: absolute;
					left: 80%;
					z-index: -1;
				}

				.survey-page__navbarStatusInfo {
					font-family: SVN-Circular-Normal;
					font-weight: normal;
					font-size: 18px;
				}

				&.survey-page__navbarStatusInfoAll {
					&:after {
						top: -45%;
						height: calc(100vw / 3);
					}
				}

				&.survey-page__navbarStatusLocation {
					&:after {
						top: 20%;
					}
				}

				&.survey-page__navbarStatusRestaurant {
					&:after {
						top: 60%;
					}
				}
			}

			.drawer-sidebar__info {
				color: #fff;

				h4 {
					font-family: Roboto;
					font-style: bold;
					font-size: 44px;
					line-height: 42px;
					margin-bottom: 70px;
				}

				p {
					font-family: Roboto;
					font-style: normal;
					font-size: 26px;
					line-height: 35px;
				}
			}
		}

		.drawer-sidebar-right {
			flex: 0.7;
			display: flex;
			flex-direction: column;
			position: relative;

			.drawer-sidebar-right__form {
				max-width: 650px;
				width: 100%;
				display: flex;
			}

			.drawer-sidebar-right__form {
				flex-direction: column;
				justify-content: center;

				label {
					font-family: SVN-Circular-Normal;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					color: #373737;
					margin-bottom: 3px;
				}

				input {
					width: 400px;
					outline: none;
					padding: 15px;
					padding-left: 30px;
					background: #ffffff;
					border: 2px solid #eeeeee;
					border-radius: 41px;
				}
			}

			.drawer-sidebar-right__formAgeTitle {
				font-family: SVN-Circular-Normal;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				color: #373737;
				margin-top: 10px;
			}

			.drawer-sidebar-right__formAge {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 25px;

				.drawer-sidebar-right__formAgeItem {
					margin-right: 30px;
					width: 116px;
					height: 37px;
					background: #717171;
					border-radius: 41px;
					font-family: SVN-Circular-Normal;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					text-align: center;
					color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer !important;
				}
			}

			.drawer-sidebar-right__formGenderTitle {
				font-family: SVN-Circular-Normal;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				color: #373737;
				margin-top: 30px;
			}

			.drawer-sidebar-right__formGender {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 25px;

				.drawer-sidebar-right__formGenderItem {
					margin-right: 30px;
					width: 116px;
					height: 37px;
					background: #717171;
					border-radius: 41px;
					font-family: SVN-Circular-Normal;
					font-weight: 500;
					font-size: 18px;
					text-align: center;
					color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer !important;
				}
			}

			.drawer-sidebar-right__title {
				align-self: flex-start;
				font-family: SVN-Circular-Normal;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				color: #202020;
				margin-bottom: 20px;
			}

			.drawer-sidebar-right__listRestaurant {
				max-height: 300px;
				flex-wrap: wrap;
				gap: 20px;
				display: flex;
				flex-direction: row;
				align-items: center;
				overflow: scroll;
				overflow-x: hidden;

				&::-webkit-scrollbar {
					display: none;
				}

				.drawer-sidebar-right__itemRestaurant {
					width: calc(960px / 4);
					height: 130px;
					margin-bottom: 30px;
					border-radius: 12px;
					height: 130px;
					display: flex;
					flex-direction: column;
					align-items: center;

					&:hover {
						cursor: pointer;
					}

					.drawer-sidebar-right__itemRestaurantImg {
						width: 100%;
						height: 130px;

						img {
							background-size: cover;
							background-repeat: no-repeat;
							width: 100%;
							height: 100%;
						}
					}

					p {
						font-family: SVN-Circular-Normal;
						font-weight: 500;
						font-size: 16px;
						text-align: center;
						color: #717171;
						margin-top: 20px;
						text-transform: capitalize;
					}
				}
			}

			.drawer-sidebar__footer {
				flex: 0.1;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				position: absolute;
				bottom: 5%;

				.drawer-sidebar__buttonBack,
				.drawer-sidebar__buttonNext {
					width: 150px;
					height: 40px;

					&:hover {
						cursor: pointer;
					}
				}

				.drawer-sidebar__buttonBack {
					outline: none;
					border: none;
					background: #eeeeee;
					border-radius: 41px;
					font-family: SVN-Circular-Normal;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					text-align: center;
					color: #717171;
				}

				.drawer-sidebar__buttonNext {
					background: $main-color;
					border-radius: 41px;
					border: none;
					outline: none;
					font-family: SVN-Circular-Normal;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					text-align: center;
					color: #ffffff;
					margin-left: 20px;
				}
			}
		}
	}
}
.survey-page_suggestion {
	font-family: Roboto;
	width: 400px;
	height: 60px;
	background: #fff;
	border-bottom: dotted 1px #000;
	display: flex;
	align-items: center;
	font-size: 1rem;
	border-bottom: 1px solid #c4c4c4;
}

.save-restaurant-page {
	.save-restaurant-page__backPage {
		display: flex;
		height: max-content;
		align-items: center;
	}

	.save-restaurant-page__title {
		font-family: Roboto;
		font-weight: bold;
		font-size: 16px;
		color: #000000;
		margin-top: 35px;
		margin-bottom: 10px;
	}
}

.location-search-input {
	width: 746px !important;
	margin-top: 10px;
}
