@import "../../App.scss";

.homepage,
.save-restaurant-page,
.search-page {
	margin: 0 auto;
	width: 100%;
	max-width: 1241px;
}

.homepage {
	height: 100%;
	margin-top: 150px;
}

.save-restaurant-page {
	height: calc(100vh - 96px - 60px);
	margin-top: 120px;
}

.search-page {
	height: calc(100vh - 96px - 60px);
	margin-top: 120px;
	display: flex;
	flex-direction: row;
}

.survey-page {
	display: flex;
	flex-direction: row;

	.drawer-sidebar-left {
		flex: 0.3;
		height: 100vh;
		padding: 40px 50px;
		background: $main-color;

		.drawer-sidebar__navbarleft {
			display: flex;
			align-items: center;
			margin-bottom: 128px;

			img {
				height: 35px;
				width: 35px;
				object-fit: contain;
			}

			p {
				margin-left: 16px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				color: #ffffff;
			}
		}

		.drawer-sidebar__info {
			color: #fff;

			h4 {
				font-family: Roboto;
				font-style: bold;
				font-size: 44px;
				line-height: 42px;
				margin-bottom: 70px;
			}

			p {
				font-family: Roboto;
				font-style: normal;
				font-size: 26px;
				line-height: 35px;
			}
		}
	}

	.drawer-sidebar-right {
		flex: 0.7;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;

		.drawer-sidebar-right__form,
		.drawer-sidebar-right__listRestaurant {
			max-width: 650px;
			width: 100%;
			display: flex;
			// flex: 0.9;
		}

		.drawer-sidebar-right__form {
			flex-direction: column;
			justify-content: center;

			label {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 26px;
				line-height: 35px;
				color: #222222;
				margin-bottom: 20px;
			}

			input {
				width: 400px;
				outline: none;
				border: 3px solid #eeeeee;
				padding: 12px;
			}
		}

		.drawer-sidebar-right__formAgeTitle {
			font-family: Roboto;
			font-size: 26px;
			color: #222222;
			margin-top: 60px;
		}

		.drawer-sidebar-right__formAge {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 25px;

			.drawer-sidebar-right__formAgeItem {
				margin-right: 30px;
				width: 98px;
				height: 41px;
				background: rgb(226, 226, 226);
				border-radius: 10px;
				font-family: Roboto;
				font-size: 20px;
				color: #000;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer !important;
			}
		}

		.drawer-sidebar-right__formGenderTitle {
			margin-top: 50px;
			font-family: Roboto;
			font-size: 26px;
			color: #222222;
		}

		.drawer-sidebar-right__formGender {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 25px;

			.drawer-sidebar-right__formGenderItem {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 169px;
				height: 41px;
				background: rgb(226, 226, 226);
				padding: 9px 63px;
				border-radius: 10px;
				margin-right: 35px;
				font-family: Roboto;
				font-size: 20px;
				color: #000;
				cursor: pointer !important;
			}
		}

		.drawer-sidebar-right__title {
			align-self: flex-start;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 23px;
			color: #222222;
			position: absolute;
			top: 5%;
			left: 5%;
		}

		.drawer-sidebar-right__listRestaurant {
			flex-wrap: wrap;
			gap: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			overflow: scroll;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				display: none;
			}

			.drawer-sidebar-right__itemRestaurant {
				width: calc(590px / 3);
				height: 130px;
				margin-bottom: 30px;

				background: #c4c4c4;
				border-radius: 12px;
				width: calc(590px / 3);
				height: 130px;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					cursor: pointer;
				}

				p {
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					text-align: center;
					color: #4a4a4a;
					margin-top: 20px;
					text-transform: uppercase;
				}
			}
		}

		.drawer-sidebar__footer {
			flex: 0.1;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			position: absolute;
			bottom: 5%;

			.drawer-sidebar__buttonBack,
			.drawer-sidebar__buttonNext {
				width: 150px;
				height: 40px;

				&:hover {
					cursor: pointer;
				}
			}

			.drawer-sidebar__buttonBack {
				outline: none;
				border: none;
				background: transparent;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				text-transform: capitalize;
				color: #747474;
			}

			.drawer-sidebar__buttonNext {
				background: $main-color;
				border: none;
				outline: none;
				font-family: Roboto;
				font-weight: bold;
				font-size: 15px;
				text-align: center;
				text-transform: capitalize;
				color: #ffffff;
			}
		}
	}
}
.survey-page_suggestion {
	font-family: Roboto;
	width: 400px;
	height: 60px;
	background: #fff;
	border-bottom: dotted 1px #000;
	display: flex;
	align-items: center;
	font-size: 1rem;
}

.save-restaurant-page {
	.save-restaurant-page__backPage {
		display: flex;
		height: max-content;
		align-items: center;
	}

	.save-restaurant-page__title {
		font-family: Roboto;
		font-weight: bold;
		font-size: 16px;
		color: #000000;
		margin-top: 35px;
		margin-bottom: 10px;
	}
}
