a {
	text-decoration: none;
	color: #000;

	.navbar-option {
		width: 158px;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		text-align: center;
		color: #fff;

		&.navbar-option--active {
			&::before {
				content: "";
				position: absolute;
				background: #fff;
				top: 33.6px;
				left: 20px;
				height: 2.4px;
				width: 120px;
			}
		}
	}
}
