.restaurant-search-filter-option {
	width: 95px;
	height: 26px;
	background: #ffffff;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
