.restaurant-search-filter-option {
	height: 26px;
	background: #ffffff;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;

	.restaurant-search-filter-option__title {
		width: 95px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
