@import "../../../App.scss";

.restaurant-search-detail {
	flex: 0.6;
	background: #eeeeee;
	border-radius: 38px;
	padding: 40px 60px;
	position: relative;
	transition: opacity 0.1s ease;
	height: 100%;

	.restaurant-search-detail__container {
		overflow-y: scroll;
		height: 100%;

		&::-webkit-scrollbar {
			display: none;
		}

		.restaurant-search-detail__title {
			font-size: 38px;
			line-height: 45px;
		}

		.restaurant-search-detail__bio {
			font-size: 14px;
			letter-spacing: 0.01em;
			margin-top: 10px;
		}

		.restaurant-search-detail__info {
			margin-top: 25px;

			.restaurant-search-detail__filterContainer {
				display: flex;
				flex: 0.5;

				.restaurant-search-detail__filterOption {
					width: 100px;
					height: 30px;
					background: #daeef5;
					border-radius: 3px;
					margin-right: 8px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			.restaurant-search-detail__price {
				flex: 0.5;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.restaurant-search-detail__priceIcon {
					margin-right: 5px;
				}

				span {
					&:nth-child(3) {
						margin: 0 5px;
					}
				}
			}
		}

		.restaurant-search-detail__imageContainer {
			display: grid;
			width: 100%;
			height: 100%;
			max-height: 300px;
			grid-template-columns: 50% 24% 24%;
			grid-template-rows: 60% 40%;
			column-gap: 5px;
			row-gap: 5px;
			margin: 40px 0;

			.restaurant-search-detail__image {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;

				&:first-child {
					grid-column: 1/ 2;
					grid-row: 1 / 3;
				}

				&:nth-child(2) {
					grid-column: 2/ 4;
					grid-row: 1 / 2;
				}

				&:nth-child(3) {
					grid-column: 2/ 3;
					grid-row: 2/ 3;
				}

				&:last-child {
					grid-column: 3/ 4;
					grid-row: 2/ 3;
				}
			}
		}

		.restaurant-search-detail__reviewContainer {
			.restaurant-search-detail__reviewRate {
				font-family: Roboto;
				font-size: 22px;
				color: #222222;
				margin-bottom: 20px;
			}
			.restaurant-search-detail__reviewListRate {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				row-gap: 12px;
				column-gap: 80px;

				.restaurant-search-detail__reviewItemRate {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.restaurant-search-detail__reviewItemRateTitle {
						font-family: Roboto;
						font-size: 16px;
						color: #222222;
					}

					.restaurant-search-detail__reviewItemRateContainer {
						display: flex;
						align-items: center;

						.restaurant-seearch-detail__reviewPercentWrapper {
							position: relative;
							width: 77px;

							.restaurant-seearch-detail__reviewPercentBefore {
								position: absolute;
								width: 100%;
								height: 4px;
								background: #dddddd;
								border-radius: 2px;
							}

							.restaurant-seearch-detail__reviewPercentAfter {
								position: absolute;
								height: 4px;
								background: $main-color;
								border-radius: 2px;
							}
						}

						.restaurant-search-detail__reviewItemRateScore {
							font-family: Roboto;
							font-size: 12px;
							color: #222222;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}

	.restaurant-search-detail__buttonContainer {
		.restaurant-search-detail__button {
			position: absolute;
			bottom: -20px;
			width: 275px;
			height: 50px;
			background: #c4c4c4;
			border-radius: 28px;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 102px;

			.MuiSvgIcon-root {
				margin-right: 10px;
			}

			.restaurant-search-detail__buttonTitle {
				font-family: Roboto;
				font-size: 16px;
				line-height: 18px;
				color: #222222;

				a {
					font-weight: bold;
					text-decoration-line: underline;
					color: #222222;
				}
			}

			&:nth-child(2) {
				left: 392px;
			}
		}
	}
}

.restaurant-search-detail--active {
	opacity: 0;
}
