@import "../../../App.scss";

.search-bar {
	background: #ffffff;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
	border-radius: 12px;
	width: 1241px;
	height: 83px;
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;

	.search-bar__container {
		display: flex;
		flex-direction: column;
		position: relative;

		&.search-bar__formSearch {
			margin-bottom: 22px;
			position: relative;
			height: 100%;
			margin-top: 29px;
		}

		&.search-bar__formSearch {
			&::before {
				content: "";
				height: 81px;
				width: 1px;
				border-right: solid 1px #dddddd;
				position: absolute;
				left: 92%;
				top: -25px;
			}
		}

		&.search-bar__people {
			flex: 0.2;

			&:before {
				content: "";
				height: 81px;
				width: 1px;
				border-right: solid 1px #dddddd;
				position: absolute;
				left: 92%;
				top: -23px;
			}
		}

		&.search-bar__location {
			flex: 0.2;
			&:before {
				content: "";
				height: 81px;
				width: 1px;
				border-right: solid 1px #dddddd;
				position: absolute;
				left: 92%;
				top: -21px;
			}
		}

		&.search-bar__formSearch,
		&.search-bar__time {
			flex: 0.3;
		}

		&.search-bar__time {
			flex-direction: row !important;

			.search-bar__timeWrapper {
				display: flex;
				flex-direction: column;
				margin-top: 8px;

				.search-bar__containerBio {
					width: 150px !important;
				}
			}

			a {
				width: 0;

				.search-bar__searchButton {
					display: flex;
					align-items: center;
					width: 167px;
					height: 56px;
					background: $main-color;
					border-radius: 23.5px;
					color: #fff;
					padding: 10px;
					margin-left: 50px;

					&:hover {
						cursor: pointer !important;
					}

					.MuiSvgIcon-root {
						flex: 0.3;
					}

					span {
						flex: 0.7;
					}
				}
			}
		}
	}
}

.search-bar__containerTitle {
	margin-bottom: 15px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	letter-spacing: 0.4px;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 10px;
	width: max-content;
}

.search-bar__containerBio {
	outline: none;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #717171;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	width: calc(90%);
}
