@import "../../../App.scss";

.navbar {
	height: 96px;
	width: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.180000007153);
	position: fixed;
	top: 0;
	z-index: 1000;
	background: #fff;

	.navbar__container {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		max-width: 1241px;
		padding: 27px 0;

		.navbar__right {
			display: flex;
			flex: 0.8;

			.navbar__logo {
				display: flex;

				img {
					width: 42px;
					height: 42px;
					object-fit: contain;
				}

				p {
					margin-left: 18px;
					align-self: center;
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 18px;
					color: #000000;
				}
			}

			.navbar__listOption {
				margin-left: 50px;
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}

		.navbar__left {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			flex: 0.2;

			.navbar__icon {
				&:hover {
					cursor: pointer;
				}

				.MuiSvgIcon-root {
					&:first-child {
						margin-right: 5px;
					}
				}
			}

			.navbar__button {
				background: #ffffff;
				border: 1px solid #dddddd;
				box-sizing: border-box;
				border-radius: 21px;
				padding: 13px;

				&:hover {
					cursor: pointer;
				}

				p {
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 15px;
					line-height: 20px;
				}

				.navbar__buttonDrawerContainer {
					display: flex;
					align-items: center;

					.MuiSvgIcon-root {
						&:first-child {
							margin-right: 5px;
						}

						&:last-child {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}

.makeStyles-list-1,
.jss1 {
	display: flex;
	flex-direction: row;

	.drawer-sidebar-left {
		flex: 0.3;
		height: 100vh;
		padding: 40px 50px;
		background: $main-color;

		.drawer-sidebar__navbarleft {
			display: flex;
			align-items: center;
			margin-bottom: 128px;

			img {
				height: 35px;
				width: 35px;
				object-fit: contain;
			}

			p {
				margin-left: 16px;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				color: #ffffff;
			}
		}

		.drawer-sidebar__info {
			color: #fff;

			h4 {
				font-family: Roboto;
				font-style: bold;
				font-size: 44px;
				line-height: 42px;
				margin-bottom: 70px;
			}

			p {
				font-family: Roboto;
				font-style: normal;
				font-size: 26px;
				line-height: 35px;
			}
		}
	}

	.drawer-sidebar-right {
		flex: 0.7;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.drawer-sidebar-right__form,
		.drawer-sidebar-right__listRestaurant {
			max-width: 650px;
			width: 100%;
			display: flex;
			flex: 0.9;
		}

		.drawer-sidebar-right__form {
			flex-direction: column;
			justify-content: center;

			label {
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 26px;
				line-height: 35px;
				color: #222222;
				margin-bottom: 20px;
			}

			input {
				width: 400px;
				outline: none;
				border: 3px solid #eeeeee;
				padding: 12px;
			}
		}

		.drawer-sidebar-right__title {
			align-self: flex-start;
			margin-top: 50px;
			margin-left: 62px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 23px;
			color: #222222;
		}

		.drawer-sidebar-right__listRestaurant {
			flex-wrap: wrap;
			gap: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			overflow: scroll;
			overflow-x: hidden;

			.drawer-sidebar-right__itemRestaurant {
				width: calc(590px / 3);
				height: 130px;
				margin-bottom: 30px;

				.drawer-sidebar-right__restaurantBox {
					background: #c4c4c4;
					border-radius: 12px;
					width: calc(590px / 3);
					height: 130px;
				}

				p {
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					text-align: center;
					color: #4a4a4a;
					margin-top: 20px;
				}
			}
		}

		.drawer-sidebar__footer {
			flex: 0.1;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;

			.drawer-sidebar__buttonBack,
			.drawer-sidebar__buttonNext {
				width: 150px;
				height: 40px;

				&:hover {
					cursor: pointer;
				}
			}

			.drawer-sidebar__buttonBack {
				outline: none;
				border: none;
				background: transparent;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 15px;
				text-transform: capitalize;
				color: #747474;
			}

			.drawer-sidebar__buttonNext {
				background: $main-color;
				border: none;
				outline: none;
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 15px;
				text-align: center;
				text-transform: capitalize;
				color: #ffffff;
			}
		}
	}
}
