@import "../../../App.scss";

.navbar {
	height: 96px;
	width: 100%;
	position: fixed;
	background: $main-color;
	top: 0;
	z-index: 1000;

	.navbar__container {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 27px 5%;

		.navbar__right {
			display: flex;

			.navbar__logo {
				display: flex;

				img {
					height: 50px;
					object-fit: contain;
				}
			}

			.navbar__listOption {
				margin-left: 50px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin-left: 5%;
			}
		}

		.navbar__left {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 300px;
			position: relative;

			.navbar__icon {
				color: #fff;

				&:hover {
					cursor: pointer;
				}

				.MuiSvgIcon-root {
					&:first-child {
						margin-right: 5px;
					}
				}
			}

			.navbar__button {
				background: #ffffff;
				border: 1px solid #dddddd;
				box-sizing: border-box;
				border-radius: 21px;
				padding: 13px;
				position: relative;

				&:hover {
					cursor: pointer;
				}

				p {
					font-size: 15px;
					line-height: 20px;
				}

				.navbar__buttonDrawerContainer {
					display: flex;
					align-items: center;

					.MuiSvgIcon-root {
						color: #717171;

						&:first-child {
							margin-right: 5px;
						}

						&:last-child {
							margin-left: 5px;
						}
					}
				}
			}

			.show-option__container {
				position: absolute;
				height: 80px;
				width: max-content;
				top: 120%;
				right: 0%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				background: #ffff;
				padding: 20px;
				border-radius: 15px;

				.show-option__containerButton {
					display: flex;
					width: max-content;
					align-items: center;

					p {
						font-size: 16px;
						font-family: SVN-Circular-Normal;
					}
				}

				a {
					.show-option__containerButton {
						p {
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}

.search-bar__compactWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: 5%;

	.search-bar__compact {
		width: 467px;
		height: 42px;
		background: #eeeeee;
		border-radius: 21px;
		padding: 12px 15px;
		display: flex;
		align-items: center;

		.MuiSvgIcon-root {
			flex: 0.1;
		}

		.search-bar__compactInput {
			flex: 0.9;
			border: none;
			outline: none;
			background: transparent;
			font-size: 14px;

			&::placeholder {
				color: $main-color;
			}
		}
	}
}
