.restaurant-recommend-list {
	margin-top: 80px;
	position: relative;

	p {
		font-style: normal;

		&:not(:last-child) {
			font-weight: bold;
			font-size: 35px;
		}

		&.restaurant-recommend-list__bio {
			margin-top: 20px;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #b0b0b0;
		}
	}

	.restaurant-recommend-list__container {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		overflow-x: scroll;

		.icon-arrow__container {
			align-self: flex-end;

			.icon-arrow {
				width: 100%;
				height: 100%;
				z-index: 100;
				width: 30px;
				height: 30px;
				object-fit: contain;
				cursor: pointer;

				&.icon-arrow-left {
					margin-right: 5px;
				}
			}
		}

		.restaurant-recommend-list__containerWrapper {
			height: 100%;
			display: flex;
			gap: 10px;
			transition: transform 0.5s ease-in-out;
		}
	}
}
