.user-review-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 40px;
	margin-top: 50px;
}

.user-review-list__moreReview {
	height: 48px;
	width: 246px;
	background: #ffffff;
	border: 1px solid #222222;
	box-sizing: border-box;
	border-radius: 8px;
	font-size: 16px;
	text-align: center;
	color: #222222;
	padding: 14px 24px;
	margin-top: 30px;
}
