$main-color: #0260fd;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.choose--active {
	background: $main-color !important;
	color: #fff !important;

	p {
		color: #fff !important;
	}
}

.button--disable {
	background: rgb(170, 170, 170) !important;
	color: rgba(16, 16, 16, 0.3) !important;
	pointer-events: none !important;
}
