$main-color: #0260fd;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media screen and (max-height: 580px), screen and (max-width: 1536px) {
	.restaurant-filter-list__container {
		height: 60vh !important;
	}
}
