$main-color: #f98600;
$disable-color: #c4c4c4;
$text-active-color: #373737;

@font-face {
	font-family: "SVN-Circular-Black";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Black.ttf") format("opentype");
}
@font-face {
	font-family: "SVN-Circular";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Black Italic.ttf") format("opentype");
}
@font-face {
	font-family: "SVN-Circular";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Bold.ttf");
}
@font-face {
	font-family: "SVN-Circular";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Bold Italic.ttf") format("opentype");
}
@font-face {
	font-family: "SVN-Circular-Normal";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Book.ttf") format("opentype");
}
@font-face {
	font-family: "SVN-Circular-Italic";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Book Italic.ttf") format("opentype");
}
@font-face {
	font-family: "SVN-Circular";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Medium.ttf") format("opentype");
}
@font-face {
	font-family: "SVN-Circular";
	src: local("SVN-Circular"), url("./assets/fonts/SVN-Circular Medium Italic.ttf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: SVN-Circular-Normal;
}

.choose--active {
	background: $main-color !important;
	color: #fff !important;

	p {
		color: #fff !important;
	}
}

.choose-restaurant--active {
	&::before {
		content: "";
		position: absolute;
		top: 30%;
		left: 37%;
		width: 50%;
		height: 50%;
		background-image: url("./assets/utils/check_img_icon.png");
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 1000;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: $disable-color;
		opacity: 0.5;
	}
}

.button--disable {
	background: $disable-color !important;
	color: #a7a7a7 !important;
	pointer-events: none !important;
}

.status--active {
	color: $text-active-color !important;

	&:after {
		background: $main-color !important;
	}
}

.test {
	.children {
		width: 500px;
		height: 500px;
		overflow-y: scroll;
		background: lightgray;
	}
}

@media (max-width: 1920px) and (min-width: 1550px) {
	.survey-page {
		.survey-page__container {
			.drawer-sidebar-left {
				.survey-page__navbarStatus {
					margin-top: 8%;

					&::after {
						height: calc((100vh - 170px) / 3);
					}
				}
			}

			.drawer-sidebar-right {
				.drawer-sidebar-right__form {
					justify-content: space-around;
				}
			}
		}
	}

	.drawer-sidebar-right__listRestaurant {
		max-height: 450px !important;
	}
}
